html, body {
    margin: 0;
    height: 100%;
}
header {
    width: 100%;
    text-align: center;
    height: 50px;
}
hr {
    width: 85%;
    text-align: center;
}
#main {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.control-btn {
    margin: 0 10px 0 10px;
    height: 30px;
    width: 190px;
    box-shadow: 1px 1px 2px rgb(0,0,0);
    font-size: 14px;
    background-color: rgb(225, 245, 225);
    border: solid 1px rgb(199, 240, 226);
    border-radius: 4px;
    transition: 0.3s;
}
.control-btn:hover {
    scale: 1.01;
    cursor: pointer;
}
#mode-select {
    display: flex;
    align-items: center;
    border: 1px solid rgb(240, 245, 228);
    background-color: rgba(194, 253, 250, 0.822);
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
}
#grid {
    display: grid;
    border: 2px solid;
    height: 80vh;
    width: 80vh;
    margin-bottom: 20px;
    box-shadow: 2px 1px 3px rgb(0,0,0);

}
.grid-square {
    border: 1px solid;
    
}
footer {
    width: 100%;
    text-align: center;
    font-size: 12px;
}